.cocktail-container{
    margin-left: 6rem;
}

.cocktail-img{
    height: 350px;
    width: 350px;
    margin-top: 0.5rem;
}


.title-container{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.cocktail-flex{
    display: flex;
}

.discription-width{
    max-width: 800px;
}
