a {
    text-decoration-line: none;
    color: black;
}

.cocktail-card {
    max-width: 300px;
}

.cocktail-card :hover{
    color: #B3AFD5;
    transform: scale(.95);
}

.name-looks{
    font-weight: 600;
    font-size: larger;
}